{% extends 'base.html' %}
{% load edit_list %}
{% block content %}
    <table>
        <thead>
        <tr style="border: 1px solid #000000">
            <td>Group</td>
            <td>Number of students</td>
            <td>Chief</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for group in group_list %}
        <tr style="border: 1px solid #000000">
            <td><a href="{{group.get_absolute_url}}">{{ group.name }}</a> </td>
            <td>{{ group.students.count }}</td>
            <td>{{ group.chief.get_full_name }}</td>
            <td>
                <a href="{{ group.get_del_url }}">Delete</a>
                <a href="{{ group.get_edit_url }}">Edit</a>
                {% edit_list group %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_group' %}">Add Group</a>
    <a href="{% url 'add_student' %}">Add Student</a>
{% endblock %}