{% extends 'base.html' %}
{% load edit_list %}
{% block content %}
    <table>
        <thead  class = "students">
        <tr style="border: 1px solid #000000">
            <td  class = "students">Group</td>
            <td  class = "students">Number of students</td>
            <td  class = "students">Chief</td>
            <td  class = "students">Action</td>
        </tr>
        </thead>
        <tbody>
        {% for group in group_list %}
        <tr style="border: 1px solid #000000">
            <td  class = "students"><a href="{{group.get_absolute_url}}">{{ group.name }}</a> </td>
            <td  class = "students">{{ group.students.count }}</td>
            <td  class = "students">{{ group.chief.get_full_name }}</td>
            <td  class = "students">
                <a href="{{ group.get_del_url }}">Delete</a> | <a href="{{ group.get_edit_url }}">Edit</a> | {% edit_list group %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_group' %}">Add Group</a>
    <a href="{% url 'add_student' %}">Add Student</a>
{% endblock %}