{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title%}Steel Kiwi Test{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/style.css' %}">

</head>
<body>
    {% block login %}
        {% if user %}
            {% if user.is_authenticated %}
                <p>You're logged in as {{ user }}, <a href="/logout/">Logout</a></p>
            {% else %}
                <p>You're not logged in<a href="/login/">Login</a></p>
            {% endif %}
        {% endif %}

    {% endblock %}
    {% block content %}
        {% if user %}
            {% if user.is_authenticated %}
                {% url 'group' %}
            {% else %}
                <a href="{% url 'index' %}">Go to main</a>
                <h1>Login</h1>
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}

                <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                <tr>
                    <td>Login or e-mail</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>{{ form.password }}</td>
                </tr>
                </table>

                <input type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
                </form>
             {% endif %}
        {% endif %}

    {% endblock %}


</body>
</html>